/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

:root [data-theme='crimson'] {
	--theme-font-family-base: "Roboto Condensed Variable", sans-serif;
	--theme-font-family-heading: "Roboto Condensed Variable", sans-serif;
}

@layer base {
	html,
	body {
		@apply
			/* This will disable overflow to prevent duplicate scroll bars. This is done to allow the usage of Skeleton AppShell */
		h-full overflow-hidden
		;
		scroll-behavior: smooth;
		font-size: 16px;
		-webkit-text-size-adjust: 100%;
	}
}

@layer components {
	.map-popup-place-content .maplibregl-popup-content {
		@apply bg-green-500 p-0 rounded-xl overflow-hidden;
	}

	.cm-table {
		@apply w-full table-auto
			/* TODO Test overflow */
		overflow-hidden
		bg-surface-100-800-token
		rounded-token
		bg-red-500;

		/* Because Skeleton UI are geniuses that create the .table class */
		display: table;
	}

	.cm-table thead {
		@apply bg-surface-200-700-token border-surface-500/20;
		border-width: 0 0 var(--theme-border-base) 0;
	}

	.cm-table tbody {
		@apply text-sm divide-y divide-surface-500/20;
	}

	.cm-table th {
		@apply p-2;
	}

	.cm-table tbody td {
		@apply py-1 px-2;
	}

	.cm-table tbody tr:nth-child(even) {
		@apply bg-surface-500/5;
	}

	.cm-table.interactive tbody tr:not(.cm-table-loading) {
		@apply cursor-pointer;
	}

	.cm-table.interactive tbody tr:hover {
		@apply bg-primary-500/10;
	}

	.cm-table-loading {
		@apply bg-surface-100-800-token;
	}

	.cm-table tfoot {
		@apply bg-surface-200-700-token border-surface-500/20;
		border-width: var(--theme-border-base) 0 0 0;
	}

	.cm-table tfoot td {
		@apply p-2;
	}
}

@layer utilities {
	.map-popup-hide-tip .maplibregl-popup-tip {
		@apply hidden;
	}

	.p-token {
		@apply p-2 sm:p-4; /* TODO: Remove p-2 sm:p-4 across the repo*/
	}

	.px-token {
		@apply px-2 sm:px-4; /* TODO: Remove px-2 sm:px-4 across the repo*/
	}

	.py-token {
		@apply py-2 sm:py-4; /* TODO: Remove p-y2 sm:py-4 across the repo*/
	}

	.max-w-token {
		@apply max-w-screen-xl;
	}

	.max-w-token-center {
		@apply max-w-screen-xl mx-auto;
	}
}
