/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

:root [data-theme='crimson'] {
	--theme-font-family-base: "Roboto Condensed Variable", sans-serif;
	--theme-font-family-heading: "Roboto Condensed Variable", sans-serif;
}

@layer base {
	html,
	body {
		@apply
			/* This will disable overflow to prevent duplicate scroll bars. This is done to allow the usage of Skeleton AppShell */
		h-full overflow-hidden
		;
		scroll-behavior: smooth;
		font-size: 16px;
		-webkit-text-size-adjust: 100%;
	}
}

@layer components {
	.map-popup-place-content .maplibregl-popup-content {
		@apply bg-green-500 p-0 rounded-xl overflow-hidden;
	}

	.chip-menu {
		@apply justify-start text-base;
		border-radius: var(--theme-rounded-base);
	}
}

@layer utilities {
	.menu-icon {
		@apply h-6 w-6 text-neutral-500;
	}

	.map-popup-hide-tip .maplibregl-popup-tip {
		@apply hidden;
	}
}
